:root {
  --primary: #f43c61ef;
  --light: rgba(238, 238, 238, 0.97);
  --dark: #313154;
  --danger: #c9d3fd;
  --grey: rgba(176, 170, 170, 0.584);
  --shadow: 0 1px 3px rgba(211, 0, 0, 0.027);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: var(--primary);
  height: 100%;
}

.wraper {
  text-align: start;
  width: 60%;
  padding-inline: 1%;
  margin-inline: auto;
  background-color: var(--primary);
  min-height: 60vh;
  margin-top: 10%;
}

.wholeSection {
  display: flex;
  gap: 20px;
}

.display {
  width: 60%;
}

.refresh {
  box-shadow: 2px 2px var(--grey);
}

.tableTitle {
  display: flex;
  justify-content: space-between;
}

td,
th {
  border: 1px solid var(--light);
  text-align: left;
  padding-left: 2px;
}

tr:nth-child(odd) {
  padding-inline: 2%;
  background-color: var(--light);
}

td:nth-child(odd) {
  margin-inline: 5%;
}

td:nth-child(even) {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn-submit {
  width: fit-content;
  box-shadow: 2px 2px var(--grey);
  margin-inline-start: auto;
}

@media screen and (max-width: 768px) {
  html {
    height: 100%;
    background-color: var(--primary);
  }

  .wraper {
    text-align: start;
    width: 100%;
    margin-inline: auto;
  }

  .wholeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .display {
    width: 90%;
  }
}
